<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../css/aboutme.css">
</head>

<body> 

<div class="wrapper">

    <header>
        <nav class="sidebar">
            <div class="logo-container">
                <img src="#" alt="">
                <h2>J<span>R</span></h2>
                    </div>
                
                    <ul class="menu"> 
                        <li ><a href="index.html" class="active">Home</a></li>
                        <li><a href="/src/views/aboutme.html">About Me </a></li>
                        <li><a href="#contacto">Contact</a></li>
                        <li><a href="https://github.com/JealRume" target="_blank" rel="noopener noreferrer">Projects</a></li>
                        <li><a href="pets.html">Pets</a></li>
                    </ul>
        </nav>

    </header>

    <main class="main">
    <a href="/index.html" class="back-to-top" id="btnBackToTop">
        <span class="arrow">↑</span>
        <span class="text">HOME</span>
    </a>


    <div class="Tittle"><h1>About Me</h1></div>

    <!-- Primera Sección: Gym -->
    <div class="contenedor">
        <img src="/public/img/Megym.png" alt="training" class="imagen-gym">
            <h2>I'm Training in Gym</h2>
            <br>
            <p>I enjoy working out at the gym and staying fit.</p>
        
    </div>

    <!-- Segunda Sección: Moto -->
    <div class="contenedor">
            <h2>I'm riding a motorcycle</h2>
            <p>I love riding motorcycles and exploring the open road.</p>
            <img src="/public/img/Memoto.png" alt="Me in motorcycle" class="imagen-gym">
        
    </div>

    <!-- Sección: Dreams -->
    <div class="contenedor">
        <img src="/public/img/H2R.jpg" alt="Kawasaki H2R" class="imagen-dreams">
            <h2>My Dream</h2>
            <br>
            <p>I want to own a Kawasaki H2R and ride it on the track.</p>
        </div>
</div>
    </main>

</body>

</html>


