<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../css/aboutme.css">
</head>

<body> 

<div class="wrapper">

     <header>
        <nav class="sidebar">
            <div class="logo-container">
                <h2>J<span>R</span></h2>
                    </div>
                
                    <ul class="menu"> 
                        <li ><a href="/index.html   " class="active">Home</a></li>
                        <li><a href="/src/views/about-me.html" class="about">About Me</a></li>
                        <li><a href="#contacto">Contact</a></li>
                        <li><a href="https://github.com/JealRume" target="_blank" rel="noopener noreferrer">Projects</a></li>
                        <li><a href="/src/views/pets.html">Pets</a></li>
                    </ul>
        </nav>

    </header>

    <main class="main">
        <div class="Tittle"><h1>About Me</h1></div>
        <a href="/index.html" class="back-to-top" id="btnBackToTop">
            <span class="arrow">↑</span>
            <span class="text">HOME</span>
        </a>
    
    
    
        <!-- Primera Sección: Gym -->
        <div class="contenedor">
            <img src="/public/img/Megym.png" alt="Me in gym" class="image-gym">
                <h2>I'm Training in Gym</h2>
                <br>
                <p>I enjoy working out at the gym and staying fit.</p>
            
        </div>
    
        <!-- Segunda Sección: Moto -->
        <div class="contenedor">
                <img src="/public/img/Memoto.png" alt="Me in motorcycle" class="image-moto">
                <h2>I'm riding a motorcycle</h2>
                <p>I love riding motorcycles and exploring the open road.</p>
                
            
        </div>
    
        <!-- Sección: Dreams -->
        <div class="contenedor">
            <img src="/public/img/H2R.jpg" alt="Kawasaki H2R" class="image-dreams">
                <h2>My Dream</h2>
                <br>
                <p>I want to own a Kawasaki H2R and ride it on the track.</p>
            </div>
</div>
    </main>
    <footer>
        <br>
        <br>
        <br>
        <br>
        <br>
    </footer>

</body>

</html>


