<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/src/css/pets.css">
</head>
<body>
    <header>
        <h1>My pets</h1>
        <nav>
            <a href="/index.html" class="back-to-top">
                ← Home
            </a>
        </nav>
    </header>

    <main class="galeria">
        <article class="pet-card">
            <img src="/public/img/img1.jpg" alt="Perro">
            <h3>Jacob</h3>
            <p>Un pitbull atigrado, muy noble y un poco enérgico.</p>
        </article>

        <article class="pet-card">
            <img src="/public/img/img2.jpg" alt="Gekko">
            <h3>Shelby</h3>
            <p>Gekko, a reptile very curious.</p>
        </article>

        <article class="pet-card">
            <img src="/public/img/img3.jpg" alt="Snake">
            <h3>Orochi</h3>
            <p>A snake, very long and slithery.</p>
        </article>
    </main>
</body>
</html>
