@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{   
font-family: 'Bruno Ace SC', sans-serif;
font-weight: 400;
font-style: normal;
}

body{
    background-color: #121212;
    color: #76ff03;
}


img {
    width: 728px;
    height: 1280px;
    object-fit: cover;
    box-shadow: 1px 3px 11px 5px rgba(0, 194, 13, 0.69);
    border-radius: 20px;
}



.contenedor {
    display: flex;       /* Alinea los hijos en línea */
    align-items: center; /* Centra el texto verticalmente respecto a la imagen */
    gap: 50px;           /* Crea espacio entre la imagen y el texto */
    margin-bottom: 10px;
    padding: 5%; /* Espacio entre bloques si tienes varios */
}


.Tittle {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 5px solid #479d00;
    border-top: 5px solid #76ff03;
    padding: 10px;
    box-shadow: 1px 3px 11px 5px rgba(0, 194, 13, 0.69);

}

.back-to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: #55b704;
    color: #191c32;
    border: 20px;
    padding: 20px 40px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 3px 11px 5px rgba(0, 211, 14, 0.69);
}


